# Copyright (c) 2022 Herman Lundkvist
# SPDX-License-Identifier: MIT

if BOARD_GRAPTO_V3W

config ZMK_KEYBOARD_NAME
	default "grapto_v3w"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config MAIN_STACK_SIZE
    int
    default 4096

config SYSTEM_WORKQUEUE_STACK_SIZE
    int
    default 4096

config ISR_STACK_SIZE
    int
    default 4096

endif # BOARD_GRAPTO_V3W
